@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html, body {
background:rgba(0,0,0,.05);
height:100%;
border:0px;
padding:0px;
margin:0px;
font-family:Lato;
}

::-webkit-scrollbar {
    display: none;
}

.swiper-container {
width: 100%;
height: 100%;
}

.swiper-slide {
height: 100%;
width:100%;
}

.menu {
width:300px;
height:100%;
opacity:1;
display:flex;
flex-wrap:wrap;
flex-direction:column;
}

.menuObject {
width:100%;
flex: 1;
display:flex;
flex-direction:column;
justify-content:space-around;
overflow:hidden;
position:relative;
-webkit-transition:.3s;
}

.str {
background-color:#f7b298;
color:#f7b298;
}

.dex {
background-color:#f47482;
color:#f47482;
}

.con {
background-color:#bf6d85;
color:#bf6d85;
}

.int {
background-color:#6c5c7b;
color:#6c5c7b;
}

.wis {
background-color:#375d7d;
color:#375d7d;
}

.cha {
background-color:#2E4057;
color:#2E4057;
}

.stat {
width:70px;
height:70px;
border-radius:40px;
margin-left:20px;
background-color:rgba(255,255,255,1);
position:relative;
text-align:center;
line-height:70px;
font-size:24px;
font-weight:400;
color:inherit;
}

.statSmallOuter {
width:24px;
height:24px;
border-radius:12px;
position:absolute;
right:0px;
bottom:0px;
}

.statSmall {
width:20px;
height:20px;
background-color:rgba(255,255,255,1);
border-radius:10px;
margin:2px 0 0 2px;
text-align:center;
line-height:20px;
font-size:10px;
font-weight:400;
color:inherit;
}

.statType {
width:100px;
line-height:18px;
font-size:18px;
font-weight:700;
text-transform:uppercase;
color:rgba(255,255,255,1);
position:absolute;
left:100px;
top:50%;
margin-top:-9px;
text-align:left;
}

.statTypeProf {
position:absolute;
left:0px;
bottom:-10px;
width:auto;
height:auto;
font-size:12px;
line-height:12px;
color:rgba(255,255,255,.5);
}

.statProfHolder {
width:auto;
height:auto;
display:inline-block;
background-color:rgba(255,255,255,0);
margin-right:5px;
font-size:14px;
font-weight:700;
}

.stats {
height:0px;
width:100%;
z-index:9;
display:none;
-webkit-transition:.3s;
overflow:hidden;
padding-bottom:15px;
}

.statsOpen {
display:block;
height:auto;
}

.open {
flex: 0 1 auto;
}

.statMin {
-webkit-transform:scale(.5);
}

.statTypeMax {
-webkit-transform:scale(2);
left:215px;
}

.statProf {
width:100%;
height:20px;
padding-left:20px;
box-sizing:border-box;
color:#fff;
text-transform:uppercase;
font-size:14px;
font-weight:300;
}

.main {
height:100%;
position:relative;
z-index:49;
overflow:hidden;
}

#topMenu {
width:100%;
height:50px;
background-color:rgba(255,255,255,1.00);
position:absolute;
left:0px;
top:0px;
display:block;
z-index:9999;
}

#openMenu {
width:30px;
height:30px;
margin:10px;
border-radius:30px;
border:2px solid rgba(0,0,0,.8);
box-sizing:border-box;
}

#bottomMenu {
width:100%;
height:50px;
position:absolute;
left:0px;
bottom:0px;
display:block;
z-index:9999;

}

#bottomMenuTop {
width:100%;
height:50px;
background-color:rgba(0,0,0,0);
position:absolute;
left:0px;
top:-50px;
pointer-events:none;
}

#bottomMenuTopTriangle {
width: 0;
height: 0;
border-bottom: 50px solid #f47482;
border-right: 100vw solid transparent;
}

#bottomMenuBottom {
width:100%;
height:50px;
background-color:#f47482;
}

.mainFirstSlide {
padding-top:50px;
height:-webkit-calc(100% - 100px);
box-sizing:border-box;
}

.mainSecondSlide {
height:300px;
position:relative;
}

#mainSecondButton {
width:100px;
height:100px;
position:absolute;
right:-50px;
top:-25px;
background-color:#f7b298;
border-radius:100px;
}

#secondSlideTop {
margin-top:5px;
width: 0;
height: 0;
border-bottom: 25px solid #f7b298;
border-right: 100vw solid transparent;
}

#secondSlideRest {
width:100%;
height:270px;
background-color:#f7b298;
}


/* SWIPER STUFF */

.swiper-container {
position:relative;
overflow:hidden;
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
-ms-backface-visibility:hidden;
-o-backface-visibility:hidden;
backface-visibility:hidden;
/* Fix of Webkit flickering */
z-index:1;
}

.swiper-wrapper {
position:relative;
-webkit-transition-property:-webkit-transform, left, top;
-webkit-transition-duration:0s;
-webkit-transform:translate3d(0px,0,0);
-webkit-transition-timing-function:ease;

-moz-transition-property:-moz-transform, left, top;
-moz-transition-duration:0s;
-moz-transform:translate3d(0px,0,0);
-moz-transition-timing-function:ease;

-o-transition-property:-o-transform, left, top;
-o-transition-duration:0s;
-o-transform:translate3d(0px,0,0);
-o-transition-timing-function:ease;
-o-transform:translate(0px,0px);

-ms-transition-property:-ms-transform, left, top;
-ms-transition-duration:0s;
-ms-transform:translate3d(0px,0,0);
-ms-transition-timing-function:ease;

transition-property:transform, left, top;
transition-duration:0s;
transform:translate3d(0px,0,0);
transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
-webkit-transition-timing-function: ease-out;
-moz-transition-timing-function: ease-out;
-ms-transition-timing-function: ease-out;
-o-transition-timing-function: ease-out;
transition-timing-function: ease-out;
margin: 0 auto;
}
.swiper-slide {
float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
-ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
/* Specify Swiper's Size: */

/*width:100%;
height: 100px; */
}
.swiper-slide {
/* Specify Slides's Size: */

/*width: 100%;
height: 100%;*/
}
.swiper-slide-active {
/* Specific active slide styling: */

}
.swiper-slide-visible {
/* Specific visible slide styling: */	

}
/* ===============================================================
Pagination Styles
================================================================*/